:root {
  --background: #ffffff;
  --bkg: #F5EFFF;
  --menu: #E5D9F2;
  --primary: #CDC1FF;
  --secondary: #A294F9;
  --text: #1C132C;
  --nav: #1C132C;
}

/* Dark mode overrides */
.dark-theme {
  --background: #1C132C;
  --bkg: #1C132C;
  --menu: #3D2C5F;
  --primary: #5E4B8C;
  --secondary: #A294F9;
  --text: #ffffff;
  --nav: linear-gradient( #1C132C,rgba(255, 255, 255,0.6));
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
}